body {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	background-color:#EFEFEF;
	color: black;
	margin:0;
}

.home_logo {
	max-width:500px;
	display: block;
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
	float: center;
}

.home_title {
	overflow: hidden;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.project {
	vertical-align: text-top;
	display: inline-block;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
	height: 400px;
}

.project img {
	height: 300px;
	opacity: 0.6;
    filter: alpha(opacity=60);
	padding-bottom: 20;
}

.project img:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}

.project a {
	text-decoration: none;
	color: inherit;
}

.project_txt {
	font-size: 24px;
	margin: 10px auto;
	position: relative;
	width: 250px;
	text-align: center;
}

.projects_cont {
	max-width: 1400px;
	margin: 60px auto 0 auto;
}

.sponsor {
	margin: 25px 50px;
	display: inline-block;
}

.sponsor img {
	opacity: 0.6;
    filter: alpha(opacity=60);
}

.sponsor img:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}

.sponsors_cont {
	max-width: 1400px;
	margin: 0 auto 40px auto;
}

#members {
	width: 100%;
	text-align: center;
}

#members img {
	width: 100%;
}

#whatwedo {
	width: 100%;
	text-align: center;
}

#sponsors {
	width: 100%;
	text-align: center;
}

#home {
	position: relative;
	width:100%;
	overflow: hidden;
}

#home img {
	min-width:100%;
	min-height: 600px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#motto {
	font-size: 72px;
	color: 000;
	position: absolute;
	min-width: 150px;
	margin-left: 10%;
	margin-right: 10%;
	text-align: center;
	font-weight: bold;
}

h1 {
	padding-top: 8px;
	padding-bottom: 8px;
	letter-spacing: 10px;
	font-size: 4em;
	margin: 0;
}

.hd {
	font-size: 50px;
	margin-bottom: 20px;
}

.thumb {
	display: inline-block;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.thumb img {
	height: 300px;
}

.thumbs {
	width: 100%;
	margin: 0 auto;
	display: inline-block;
	display: inline;
}

a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}

.division {
	border: 0;
	height: 1px;
	max-width: 300px;
	margin:0 auto 30px auto;
	background: #333;
	background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

a.btn {
	padding:20px 30px;
	width:300px;
	height:100px;
	text-decoration:none;
	background-color:lightgrey;
	font-size:24px;
	color:black;
}

a.btn:hover {
	background-color:grey;
}