body {
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 2px;
	background-color:#EFEFEF;
	color: black;
	margin:0;
}

#nav {
	vertical-align: middle;
	z-index:10;
	border-bottom: 1px solid #888;
	position:fixed;
	width:100%;
	text-align: center;
	font-size: 24px;
	margin: auto;
	padding: 0;
	list-style: none;
	background-color: #EFEFEF;
}

.nav_title {
	max-width:240px;
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	text-align: left;
}

#nav li {
	display: inline-block;
	vertical-align: middle;
}

#nav a {
	text-decoration: none;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 15px;
	padding-right: 20px;
	padding-left: 20px;
	color: #045184;
}

#nav a:hover {
	color: #3588CC;
}

.nav_logo {
	max-width:120px;
	display: inline-block;
	vertical-align: middle;
}

.home_logo {
	max-width:500px;
	display: block;
	padding-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 0px;
	float: center;
}

.home_title {
	overflow: hidden;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

.project {
	display: inline-block;
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
}

.project img {
	width: 300px;
	opacity: 0.3;
    filter: alpha(opacity=30);
	margin-bottom: 0;
}

.project img:hover {
	opacity: 1;
    filter: alpha(opacity=100);
}

.project a {
	text-decoration: none;
	color: inherit;
}

.project_txt {
	font-size: 24px;
	margin: 0 auto;
	position: relative;
	top: -10px;
	width: 250px;
	text-align: center;
}

.pojects_cont {
	max-width: 1400px;
	margin: 0 auto;
}

#whatwedo {
	width: 100%;
	text-align: center;
}

#whatwedo p {
	font-size: 50px;
}

#home {
	position: relative;
	width:100%;
	overflow: hidden;
}

#home img {
	min-width:100%;
	min-height: 600px;
	opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

#motto {
	font-size: 3em;
	color: 000;
	position: absolute;
	max-width: 600px;
	min-width: 150px;
	margin-left: 10%;
}

h1 {
	padding-top: 8px;
	padding-bottom: 8px;
	letter-spacing: 10px;
	font-size: 4em;
	margin: 0;
}